<div class='card'>
  <div class='card-header'>
    {{pageTitle}}
  </div>
  <div class='card-body'>
    <div class='row'>
      <div class="col-sm-6">
        <div class="col-sm-6">
          <h5><label class="labelcol"> Select Location : </label> </h5>
        </div>
        <div class="col-sm-6">
          <select name="city" class=" col-sm-6 " [(ngModel)]="location"
            (change)="onChangelocation($event.target.value)">
            <option *ngFor="let location of locations" [value]="location">{{location}}</option>
            
          </select>
        </div>
      </div>
      <div class="col-sm-6" *ngIf="location">
        <div class="col-sm-6">
          <h5><label class="labelcol"> Select Buildling : </label> </h5>
        </div>
        <div class="col-sm-6">
          <select id="sel1" name="sdb" [(ngModel)]="sdb" class="col-sm-6 "
            (change)="onChangebuilding($event.target.value)">
            <option *ngFor="let building of buildings" [value]="building.name">{{building.name}}</option>
        
        </select>
      </div>
      </div>
    </div>
    <!-- <mat-divider></mat-divider> -->
    <div class="row divheader">
      <div class="col-sm-6" *ngIf="sdb">
        <div class="col-sm-6">
          <h5><label class="labelcol"> Select Floor : </label> </h5>
        </div>
        <div class="col-sm-6">
          <select id="sel1" name="floor" [(ngModel)]="floor" *ngIf="sdb" class="col-sm-6"
          (change)="onChangefloor($event.target.value)">
            <option *ngFor="let floor of floors" [value]="floor.fname">{{floor.fname}}</option>
          </select>
        </div>
      </div>

      <div class="col-sm-6" *ngIf="floor">
          <div class="col-sm-6">
            <h5><label class="labelcol"> Select ODC : </label> </h5>
          </div>
          <div class="col-sm-6">
            <select id="sel1" name="odc"  [(ngModel)]="odc"  class="col-sm-6"
            (change)="onChangeodc($event.target.value)">
              <option *ngFor="let odc of odcs" [value]="odc.id">{{odc.odcname}}</option>
            </select>
          </div>
        </div>
    </div>
    <div>

    </div>

   
    <div *ngIf="odc">
    
      <!-- <input type="button" value="Reload" class="btn btn-primary col-sm-1"
      (click)="viewMode='clicked'" />


      <div [ngSwitch]="viewMode">
        <div *ngSwitchCase="'clicked'">
          <app-seat-selection> </app-seat-selection>
        </div>
        
    </div> -->
      <!-- <div class="col-sm-6 divheader" >
        <h5><label class="labelcol"> Total No of Seat : </label> </h5>
        <h5><label class="labelcol"> No of Seat Used  : </label> </h5>
        <h5><label class="labelcol"> No of Seat Free  : </label> </h5>
        
      </div>      -->
         <app-seat-layout [layoutid]='layoutid'> </app-seat-layout> 

         <!-- <a routerLink = "seat-layout">New component</a>

         <router-outlet></router-outlet> -->

    </div>
     
  </div>   
  
</div>
 