.tp-radio-group {
    /* display: inline-flex; */
    flex-direction: column;
 }
 .tp-radio-button {
    margin: 5px;
 }
 .tp-selected-value {
    margin: 15px 0;
 }

 .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

  .divheader {
   margin-top: 20px;
 }
  .line-breaker {
   white-space: pre-line;
 }
 .labelcol {
   color: #0a4579;
 }