<div class='card-header'>
  <!-- <div class="col-sm-6 divheader" >
        <h5><label class="labelcol"> Total No of Seat : {{managercubicalcount.length + baycount.length}} </label> </h5>
        <h5><label class="labelcol"> No of Seat Used  : </label> </h5>
        <h5><label class="labelcol"> No of Seat Free  : </label> </h5>
        
      </div>       -->
  <div class="container-fluid layoutstyle">
    <div class="row">
      <!-- <div class="col-md-2">
          </div>
          <div class="col-md-1">
          </div> -->
      <div class="col-md-1">
        <table>
          <tr>
            <td>
              <div style="width:80px;height:80px;background-color: white;">
                {{conf_room_count[0]}}
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-md-8" *ngIf='managercubicalcount'>
        <table>
          <tr>

            <td *ngFor='let managercubical of managercubicalcount'>
              <div style="width:110px;height:80px;background-color: rgb(238, 221, 221);">

                {{managercubical}}
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-md-1" *ngIf='conf_room_count'>
        <table>
          <tr>
            <td>
              <div style="width:80px;height:80px;background-color: white;">
                {{conf_room_count[1]}}

              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>


    <div class="row arrowstyle">
      <!-- <a href="ui-profile.html">
              <img alt="" src="../assets/Images/profile.jpg" class="img-fluid rounded-circle">
          </a> -->
      <div class="col-md-2">
      </div>
      <div class="col-md-1">

        <img alt="" src="../assets/Images/Arrowleft.png" height="35" width="45">
      </div>
      <div class="col-md-2">
      </div>
      <div class="col-md-1">

        <img alt="" src="../assets/Images/Arrowleft.png" height="35" width="45">
      </div>
      <div class="col-md-2">
      </div>
      <div class="col-md-1">
        <img alt="" src="../assets/Images/Arrowleft.png" height="35" width="45">
      </div>
      <div class="col-md-1">

      </div>
      <h5><label class="labelcol"> Entry </label> </h5>
    </div>


    <div class="row">
      <div class="col-md-1">
      </div>

      <div class="row" *ngFor='let bay of baycount'>
        <div class="col-md-7">
          <table style="table-layout: auto; background-color: rgb(208, 220, 255);">
            <div *ngFor='let cubical of bay.bayid; let i = index'>
              <tr>
                <div *ngIf='bay.baytype'>
                  <td>

                    <div *ngIf='bay.bayuser[i] == "Empty"'
                      style="width:60px;height:60px; background-color: rgb(138, 238, 147);">{{cubical }}
                      {{bay.bayuser[i]}}
                    </div>
                    <div *ngIf='bay.bayuser[i] != "Empty"'
                      style="width:60px;height:60px; background-color: rgb(220, 158, 245);">{{cubical }}
                      {{bay.bayuser[i]}}</div>

                  </td>
                </div>
                <div *ngIf='!bay.baytype'>
                  <td>
                    <div *ngIf='bay.bayuser[i] == "Empty"'
                      style="width:60px;height:60px; background-color: rgb(138, 238, 147);">{{cubical }}
                      {{bay.bayuser[i]}}</div>
                    <div *ngIf='bay.bayuser[i] != "Empty"'
                      style="width:60px;height:60px; background-color: rgb(220, 158, 245);">{{cubical }}
                      {{bay.bayuser[i]}}</div>
                  </td>
                </div>
              </tr>
            </div>
          </table>
        </div>
        <div style="width:60px;height:60px;" *ngIf='bay.baytype'>
          <img alt="" src="../assets/Images/Arrowdown.png" height="35" width="45">
        </div>
      </div>

      <!-- <div class="col-md-1">
          <img alt="" src="../assets/Images/Arrowdown.png" height="35" width="45">
        </div> -->
      <!-- <div class="col-md-1">
        </div> -->
    </div>
  </div>
</div>