<!-- START TOPBAR -->
<div id="mySidenav" class='page-topbar '>
    <div class='logo-area'>

    </div>

</div>
<!-- END TOPBAR -->

<!-- START CONTAINER -->
<div class="page-container row-fluid container-fluid">

    <!-- SIDEBAR - START -->
    <div class="page-sidebar fixedscroll">

        <!-- MAIN MENU - START -->

        <div class="page-sidebar-wrapper" id="main-menu-wrapper">
            <!-- USER INFO - START -->
            <div class="profile-info row">

                <div class="profile-image col-4">
                    <!-- <a href="ui-profile.html">
                        <img alt="" src="../assets/Images/profile.jpg" class="img-fluid rounded-circle">
                    </a> -->
                    <img alt="" src="../assets/Images/profile.jpg" class="img-fluid rounded-circle">
                </div>

                <div class="profile-details col-8">

                    <h3>
                        <a href="ui-profile.html">User</a>

                        <!-- Available statuses: online, idle, busy, away and offline -->
                        <span class="profile-status online"></span>
                    </h3>

                    <p class="profile-title">Normal User</p>

                </div>

            </div>
            <!-- USER INFO - END -->

            <ul class='wraplist'>
                <li class='menusection'>Main</li>

                <li class="open">
                    <a [routerLink]="['/app-piechart']">
                        <i class="fa fa-dashboard"></i>
                        <span class="title">Dashboard</span>
                    </a>
                </li>

                <li class="open">
                    <a [routerLink]="['/app-search']">
                        <i class="fa fa-dashboard"></i>
                        <span class="title">Seat Search</span>
                    </a>
                </li>

                <li class="open">
                    <a [routerLink]="['/app-seat-selection']">
                        <i class="fa fa-dashboard"></i>
                        <span class="title">Seat Selection</span>
                    </a>
                </li>

            </ul>
            <!-- MAIN MENU - END -->
        </div>
    </div>
    <!--  SIDEBAR - END -->


    <section id="main-content" class=" ">
        <section class="wrapper main-wrapper row">
            <router-outlet> </router-outlet>
        </section>
    </section>
    <!-- START CONTENT -->
    <!-- END CONTENT -->
    <!-- END CONTAINER -->
</div>


 